<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback-base.xml"/>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="JSON_FILE" />
        </root>
        <logger name="pl.ecommerce" level="DEBUG" />
    </springProfile>

    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="JSON_FILE" />
            <appender-ref ref="LOGSTASH" />
        </root>
        <logger name="pl.ecommerce" level="INFO" />
    </springProfile>

    <springProfile name="!dev,!prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="JSON_FILE" />
        </root>
        <logger name="pl.ecommerce" level="DEBUG" />
    </springProfile>
</configuration>