<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <springProperty name="appName" source="spring.application.name" defaultValue="unknown"/>
    <springProperty name="env" source="spring.profiles.active" defaultValue="default"/>
    <springProperty name="logstashHost" source="LOGSTASH_HOST" defaultValue="localhost"/>
    <springProperty name="logstashPort" source="LOGSTASH_PORT" defaultValue="5000"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%X{traceId:-},%X{spanId:-}] --- [%thread] %logger{36} : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${appName}-${env}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/${appName}-${env}.%d{yyyy-MM-dd}.%i.json</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <customFields>{"application":"${appName}","environment":"${env}"}</customFields>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstashHost}:${logstashPort}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <loggerName />
                <threadName />
                <logLevel />
                <message />
                <logstashMarkers />
                <context />
                <mdc />
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <logger name="pl.ecommerce" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>
